  @tailwind base;
  @tailwind components;
  @tailwind utilities;


  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Add this CSS to your stylesheet */
.no-scroll {
  overflow: hidden;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.no-scroll {
  overflow: hidden;
}

/* ComposePost.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3a3a3a;
  border-radius: 10px;
  border: 3px solid #1e1e1e;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #5a5a5a;
}

body{
  display: flex;
  background-color: black;
   align-items: center;
  justify-content: center;
}